<body>   
<div class="home">
    <div class="title">
        <p>
            <strong>Welcome to Book Heaven! 📚✨</strong><br>
            Step into a world where books come alive. At Book Heaven, we believe every book holds a universe waiting to be discovered. Whether you're a seasoned reader or just starting your literary journey, we have something for everyone. <br>
            Our Collection: <br>
           <ul>
            <li> Bestsellers: Stay up-to-date with the latest and greatest books topping the charts.</li>
            <li>Exam Prep: From GATE and IIT-JEE to CBSE, NEET, UPSC, and IELTS, find all the essential study materials.</li>
            <li>Non-Fiction: Dive into our extensive collection of motivational, spiritual, and educational books.</li>
            <li>Fiction: Escape into worlds of fantasy, mystery, romance, and more.</li>
           </ul>
           Why Choose Us?:<br>
           <ul>
            <li>Exclusive Discounts: Enjoy up to 25% off on all our books.</li>
            <li>Free Shipping: Get your books delivered to your doorstep, free of charge, on orders over ₹300.</li>
            <li>Customer Support: Our 24/7 customer service ensures a smooth and satisfying shopping experience.</li>
            <li>Return & Refund Policy: Shop with confidence, knowing you can return or exchange your purchases hassle-free.</li>
            <li> Explore & Enjoy: Discover your next favorite read or find the perfect gift for a book lover. At Book Heaven, we make reading accessible, enjoyable, and affordable for everyone.</li>
           </ul>          
           <br>     
            Welcome to your literary paradise—where every page is a new adventure.        
        
        <div class="card">
            <h4>Contact Us:</h4>
            <div class="image">
                <span class="mail-message">Email: <a href="mailto: book.heaven&#64;yopmail.com">book.heaven&#64;yopmail.com</a></span>
            </div>
        </div>
    </div>
</div>

</body>